       <br><br><br><br>
       <form method="post" action="/cadastro">
            <h5>Usuario:</h5> 
            <input class="nome" type="text" name="login">
            <h5>Senha:</h5>
            <input class="nome" type="password" name="password">
            <br>
            <div><input type="submit" class="enviar" name="acao" value="Entrar"></div>
        </form> 

    
